@page
@model CollaborationWebApplication.Pages.FileUploads.CSVUploadStatusModel
@{
}

<h1>Your CSV was succesfully stored to the database!</h1>

<h1>Click on View Datasets on the Navigation bar to view your CSV.!</h1>





