@page
@using System.IO
@model CollaborationWebApplication.Pages.FileUploads.FileHandlingModel
@{
}

@{
    string imagesDir = Directory.GetCurrentDirectory();
    imagesDir += @"\wwwroot\fileupload\";
    <p>@imagesDir</p>
    <br />
    DirectoryInfo imagesFolder = new DirectoryInfo(imagesDir);

    var fileListing = imagesFolder.GetFiles();

    foreach (var file in fileListing)
    {
        <a href="/fileupload/@file.Name" target="_blank">@file.Name</a>
        <br />
    }
}

@if (!ModelState.IsValid)
{
    foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
    {
        <div class="alert alert-danger">@error.ErrorMessage</div>
    }
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}