@page "{fileName}"
@using System.Data.SqlClient;
@using System.Data;
@model CollaborationWebApplication.Pages.Datasets.ViewDataModel

@{
    ViewData["Title"] = "View Data";
}

<h2>Dataset: @Model.FileName</h2>

<table class="table">
    <thead>
        <tr>
            @foreach (DataColumn column in Model.Data.Columns)
            {
                <th>@column.ColumnName</th>
            }

            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Data.Rows)
        {
            <tr>
                @foreach (DataColumn column in Model.Data.Columns)
                {
                    <td>@row[column.ColumnName]</td>
                }
            </tr>
        }

    </tbody>
</table>
