@page
@model CollaborationWebApplication.Pages.KnowledgeItems.AddKnowledgeItemsModel
@{
}

<form asp-page-handler="AddKnowledgeItem" method="post">



    <input type="text" asp-for="NewKnowledgeItem.KnowledgeTitle" placeholder="Title" />
    <span asp-validation-for="NewKnowledgeItem.KnowledgeTitle" class="text-danger"></span>
    <br />

    <input type="text" asp-for="NewKnowledgeItem.KnowledgeSubject" placeholder="Subject" />
    <span asp-validation-for="NewKnowledgeItem.KnowledgeSubject" class="text-danger"></span>
    <br />

    <input type="text" asp-for="NewKnowledgeItem.KnowledgeInformation" placeholder="Information" />
    <span asp-validation-for="NewKnowledgeItem.KnowledgeInformation" class="text-danger"></span>
    <br />

    <select asp-for="NewKnowledgeItem.KnowledgeCategoryID" asp-items="Model.KnowledgeItemCategory" class="form-select">
        <option value="">Select Category</option>
    </select>
    <br />

    <input type="submit" value="Create Knowledge" class="btn-outline-primary" />
</form>
