@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>( ͡° ͜ʖ ͡°)</h1>
    <p>Parker Short, Travis Brown, Noah LaMontagne, Aiden Poehls</p>
</div>
